.container_12
  .grid_12.align_center
    %h1 FOUR LIGHTS
  %hr

  - [:senior_senator, :junior_senator, :representative].each do |type|
    - legislator = @legislators[type]
    .grid_6
      .legislator{:class => party_class_for(legislator)}
        %h1= type.to_s.titleize
        %dl.table-display
          %dt Name
          %dd
            = "#{legislator.title}. #{legislator.firstname} #{legislator.lastname}"

          %dt Party
          %dd
            = legislator.party

          %dt District
          %dd
            = legislator.district

          - if legislator.website.present?
            %dt Website
            %dd
              = legislator.website

          - if legislator.twitter_id.present?
            %dt Twitter
            %dd
              = legislator.twitter_id
        .clear

    - if legislator.committees.present?
      .grid_6
        .committees
          %h2 Committees
          %ul
            - legislator.committees.each do |committee|
              %li
                = committee.name
    .clear
